
.filter_deck{
  margin-top: 50px;
}

.decks{
  margin-top: 50px;
  margin-bottom: 50px;
  @include media-breakpoint-down(md) {
    margin-top: 10px;
  }
  &__deck{
    margin-top: 50px;
    @include media-breakpoint-down(md) {
      margin-top: 25px;
    }
    //display: flex;
  }
  &__img{
    margin-right: 20px;
    //width: 170px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #555555,2px 2px 1px black, 3px 3px 1px #555555,
    4px 4px 1px black,5px 5px 1px #555555, 6px 6px 1px black, 7px 7px 1px #555555;
  }
  &__text{
    margin-top: 10px;
  }
  &_title{
    @include title-colorless;
  }
}

.deck__single{
  &_title{
    @include title-colorless;
  }
  &_cards{
    img{
      //max-width: 250px;
      height: auto;
      border-radius: 13px;
      position: center;
    }
    &_title{
      @include title-warn;
      button{
        margin: 0 0 0 25px;
      }
    }
    article{
      margin-bottom: 30px;
    }
  }
}

.create__deck{
margin-bottom: 30px;
  &_form{
    padding: 30px;
  }
}
