
.login{
  margin-top: 50px;
  form{
    padding: 30px;
  }
  &__register{
    //border-right: 2px solid $success;
  }
  &__space{
    border-right: 3px solid $success;
  }
  &__space_register{
    border-right: 3px solid $secondary;
  }
  &__space_pw{
    border-right: 3px solid $info;
  }
  .login__img{
    position: absolute;
    top: -100px;
  }
}