/*main css*/
body{
  background-color: #000004;
  font-size: 1.2rem;

  h1, h2{
    text-shadow: 1px 1px 0 #a34c24,
    1px -1px 0 #a34c24,
    -1px 1px 0 #a34c24,
    -1px -1px 0 #a34c24,
    1px 0px 0 #a34c24,
    0px 1px 0 #a34c24,
    -1px 0px 0 #a34c24,
    0px -1px 0 #a34c24,
    2px 2px 0 #4d020a,
    2px -2px 0 #4d020a,
    -2px 2px 0 #4d020a,
    -2px -2px 0 #4d020a,
    2px 0px 0 #4d020a,
    0px 2px 0 #4d020a,
    -2px 0px 0 #4d020a,
    0px -2px 0 #4d020a;
    text-transform: uppercase;
    letter-spacing:1px;
  }
  .infos{
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 20px;
    font-weight: bold;
  }
  .error_message{ // to print the error message
    color: $info;
  }
  .has_error{ // to outline a error field
    border: 2px solid $danger;
  }
  .btn_1{
    margin: 15px;
    &:hover{
      color: $dark;
      outline: $primary;
      a{
        color: $dark;
        outline: $primary;
      }
    }
  }
  .btn_send{
    width: 100%;
    margin: 25px 0 0 0;
    font-size: 1.3rem;
  }
  .nav{
    padding: 20px;
    .nav__link{
      font-size: 1.5rem;
      color: $warning;
      font-family: "Trade Winds", sans-serif;
    }
    border-bottom: 1px solid $warning;
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }
  }
  .color__img{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
 .title_colorless{
   font-size: 1.3rem;
   font-weight: bold;
 }
 .title_warn{
   font-size: 1.3rem;
   font-family: "Trade Winds", monospace;
   color: $warning;
 }
  .color__picker{
    display: flex;
    input{
      margin-right: 5px;
      margin-top: 8px;
      margin-left: 15px;
    }
    label{
      margin-right: 15px;
    }
  }
  .popup__container{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    min-height: 300px;
    max-height: 90vh;
    padding: 50px;
    margin-top: 20px;
    position: fixed;
    overflow-y: scroll;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    border: 2px solid $success;
    border-radius: 25px;
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(61, 112, 218, 0.36);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(61, 112, 218, 0.36);
      box-shadow: inset 0px 4px 5px 2px #000004,0px 4px 5px 2px #000004,4px 0px 5px 2px #000004,4px 0px 5px 2px #000004;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $success;
    }
  }
  .show{
    display: block;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $success;
    //border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 4);
    box-shadow: inset  1px 1px 10px $success;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $success;
    box-shadow: inset  1px 1px 10px #000004;
  }

}


@mixin title-warn {
  font-size: 1.3rem;
  font-family: "Trade Winds", monospace;
  color: $warning;
}
@mixin title-colorless {
  font-size: 1.3rem;
  font-weight: bold;
}
