
    <div class="row">
        <span class="infos">You have to Log in if you want to add a card!</span>

        <button name="finished" class="btn btn_1 btn-outline-secondary">close</button>
        <button class="btn btn_1 btn-outline-warning">
            <a class="nav-link" href="index?p=login">Login</a>
        </button>
    </div>

