<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- seo optimized meta description and title -->
    <meta name="Description" content="a website to store and view magic decks and cards">
    <meta name="keywords" content="Magic the gathering, magic, magic decks, magic cards">
    {% block head %}
        <title>{% block title %}{% endblock %} - Magic Decks</title>
    {% endblock %}
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="min_css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap" rel="stylesheet">

</head>
<body>

{% include 'navigation.html.twig' %}

{% if session %}
    {% include 'user.html.twig' %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <span class="infos"> <!--// prints infos from the login (like failed etc.)-->
                {% block info %}

                {% endblock %}
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{% block h1 %}Magic Decks{% endblock %}</h1>
        </div>
    </div>
</div>

<div class="container popup__container" id="popup_container">

</div>

{% block content %}


{% endblock %}

<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <p class="title_warn">
                    Magic the Gathering Build your Deck
                </p>
                <p>
                    Thanks to
                    <a href="https://scryfall.com/" target="_blank" rel="noopener">scryfall.com</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- js -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- My js -->
<script src="js/app.js"></script>

{% block javascripts %}
{% endblock %}

</body>
</html>
