
<nav class="navbar bg-dark justify-content-between nav">
    <a class="nav-link" href="index?p=home">Magic decks</a>

    <button class="btn btn_1 btn-outline-warning">
        <a class="nav-link" href="index?p=login">Login</a>
    </button>
</nav>