
<div class="container user__header">
    <div class="row justify-content-around">
        <div class="col">
            <p class="user__header_title">{{ name[0] }}</p>
        </div>
        <div class="col">
            <button class="btn_1 btn btn-outline-success">
                <a href="index?p=decks">My Decks</a>
            </button>
        </div>
        <div class="col">
            <button class="btn_1 btn btn-outline-success">
                <a href="index?p=cards">My Cards</a>
            </button>
        </div>
        <div class="col">
            <button class="btn_1 btn btn-outline-success">
                <a href="index?p=allCards">All Cards</a>
            </button>
        </div>
        <div class="col">
            <button class="btn_1 btn btn-outline-warning">
                <a href="index?p=addDecks">Add Deck</a>
            </button>
        </div>
    </div>
</div>





